*.log
Gemfile.lock
relatorio-mobile-training-wheels-protocol-ruby.*
features/support/desired_capabilities/*.android.txt
!features/support/desired_capabilities/*.android.example.txt
features/support/fixtures/*.json
!features/support/fixtures/*.example.json